<%- include("partials/header") %>

<form id="composeBlog">
  <h2 class="compose-title"><%= locals.post ? "Edit Post" : "Compose" %></h2>
  <input type="hidden" id="postId" value="<%= locals.post ? post._id : "" %>" />
  <div class="input-group">
    <label for="blogTitle" class="lblInput">Title (Max of 50 characters)</label>
    <input type="text" id="blogTitle" autocomplete="off" value="<%= locals.post
    ? post.blogTitle : "" %>"/>
  </div>

  <div class="input-group">
    <label for="postMessage" class="lblInput"
      >Post (Max of 500 characters)</label
    >
    <textarea id="blogContent">
<%= locals.post ? post.blogContent : "" %></textarea
    >
  </div>

  <div class="input-group">
    <label for="postMessage" class="lblInput"
      >Author (Max of 30 characters)</label
    >
    <input type="text" id="blogAuthor" autocomplete="off" value="<%= locals.post
    ? post.blogAuthor : "" %>"/>
  </div>

  <button class="btn" type="submit">
    <%= locals.post ? "Update" : "Publish" %>
  </button>
</form>

<%- include("partials/footer.ejs") %>
